<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}Dentritic microcircuits</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  {% block head %}{% endblock %}
</head>
<body>
{% if title %}
  <h1>{{ title }}</h1>
{% endif %}

{% if description %}
  <div id="description">{{ description }}</div>
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes">
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div id="container">
  {% block container %}{% endblock %}
</div>

{% block body %}{% endblock %}

</body>
{% block postbody %}{% endblock %}
</html>
