body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
}

div#description {
  width: 80vw;
  margin: 8px 0 32px 0;
  font-size: 1.5em;
}

#error {
  height: 75vh;
  width: 80vw;
}

#container {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

#container-graph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  background-color: #fff;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#container-graph .caption {
  width: 492px;
  height: 72px;
  font-size: 12pt;
}

#container-params {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
#container-params div {
  display: contents;
}
#container-params label {
  text-align: right;
}
#container-params input {
  width: 100%;
}

label {
  margin-right: 10px;
}

.flashes {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  color: red;
}

div.apexcharts-canvas {
  border: 1px solid black;
}

#actions {
  margin: 24px 0;
}

div.list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

div.list-item-button {
  width: 100%;
  display: flex;
  justify-content: end;
}

div.list-item-button-inner {
  width: fit-content;
}

button, div.list-item-button-inner > a {
  color: white;
  text-decoration: none;
}

button, div.list-item-button-inner {
  margin: 4px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  cursor: pointer;
}

button:hover, div.list-item-button-inner:hover {
  background-color: #0056b3;
}

div.list-item-description {
  align-self: center;
}

textarea {
  resize: none;
}
